@{
    var controller = @ViewContext.RouteData.Values["controller"].ToString();

}
<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="index.html">
                    <img src="~/assets/img/logo.png" alt="CoolAdmin" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="@(controller == "Home" ? "active" : "")">
                    <a class="js-arrow" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>Home
                    </a>
                </li>
                <li class="@(controller == "Employee" ? "active" : "")">
                    <a asp-controller="Employee" asp-action="Index">
                        <i class="fas fa-users"></i>Employees
                    </a>
                </li>
                <li class="@(controller == "ExpenseType" ? "active" : "")">
                    <a asp-controller="ExpenseType" asp-action="Index">
                        <i class="fas fa-tags"></i>Expenses Type
                    </a>
                </li>
                <li class="@(controller == "Country" ? "active" : "")">
                    <a asp-controller="Country" asp-action="Index">
                        <i class="fas fa-flag"></i>Countries
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->