@{
    var controller = @ViewContext.RouteData.Values["controller"].ToString();

}
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a asp-controller="Home" asp-action="Index" class="mx-auto">
            <img src="~/assets/img/logo.png" alt="Cool Admin" style="height: 75px;" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="@(controller == "Home" ? "active" : "")">
                    <a class="js-arrow" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>Home
                    </a>
                </li>
                <li class="@(controller == "Employee" ? "active" : "")">
                    <a asp-controller="Employee" asp-action="Index">
                        <i class="fas fa-users"></i>Employees
                    </a>
                </li>
                <li class="@(controller == "ExpenseType" ? "active" : "")">
                    <a asp-controller="ExpenseType" asp-action="Index">
                        <i class="fas fa-tags"></i>Expenses Type
                    </a>
                </li>
                <li class="@(controller == "Country" ? "active" : "")">
                    <a asp-controller="Country" asp-action="Index">
                        <i class="fas fa-flag"></i>Countries
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->